<a href="https://colab.research.google.com/github/Nattanon5041/Pythonlab3/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

for i in list1:
  if i%2==0:
    print(i)

2
4
6
8

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
list = [-5, 7, 10, 1, 2, 5, 8, 100]
i = 0
max1 = 0
max2 = 0
b = 0
while i < len(list):
  a = list[i]
  i = i+1
  if a > max1:
    max2 = max1
    max1 = a
  if a > max2 and a != max1:
    max2 = a

print(max2)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
n = 10
cal = 0
total = 0
i = 0
while i < n:
  i = i+1
  cal = 1/i**2
  total = total + cal
print(total)

1.5497677311665408

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [242]:
s1=[1,2,3,4,5]
s2=[5,4,3,2,1]

check1 = True
check2 = True
for i in range(len(s1)-1):
    if s1[i] > s1[i+1]:
        check1 = False
        break
for j in range(len(s2)-1):
    if s2[j] > s2[j+1]:
        check2 = False
        break

print("list s1 =",check1,"list s2 =",check2)

list s1 = True list s2 = False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [208]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

list_num = []
for i in range(len(x)):
  num = x[i]

  if num < 30:
    num = num+(num * (30/100))
  list_num = list_num + [num]
print(list_num)

[60, 70, 72, 65, 55, 43, 26.0, 90, 15.6]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [209]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

min = 99
cal = 0
total = 0
for i in range(len(x)):
  num = x[i]

  if num < min:
    min2 = min
    min = num
  cal = cal+num
total = cal - min2
print(total)

491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [207]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

a = 0
for i in range(len(lst)): #0-7
    text = lst[i] #text in list
    counttext = len(text) # len text
    if counttext > 2:  # >=2
        if (text[0] == text[-1]):
            print(text)

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [164]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

lst_new = []
for i in lst:
    if i not in lst_new:
        lst_new.append(i)
print(lst_new)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [252]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

lst_new = {}

for i in lst:
    if i in lst_new:
        lst_new[i] += 1
    else:
        lst_new[i] = 1
print(lst)
for j in lst_new:
    print(j, "=", lst_new[j])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [180]:
n = 5
i = 0
num = 0
cal = 0
while i < n:
  i = i+1
  num = num + 5
  cal = cal + num
print(cal)

75

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [276]:
result = []

for x in range(2000, 3201):
    if x % 7 == 0 and x % 5 != 0:
        result.append(x)

result_str = []
for num in result:
    result_str.append(str(num))

print(', '.join(result_str))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [ ]:
x = [1, 5, 4, 2, 1]

max = 0
count = 0
a = 0
for i,e in enumerate(x):
  for j in x[i+1:]:
    if e > j :
      count += 1
print(count)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [262]:
input = "klfjslkgD;FGK;LSDKdl;gfk;"

upper = 0
lower = 0
for i in input:
  if i == ";":
    continue
  if i.islower():
    lower += 1
  else:
    upper += 1
print("lowercase =",lower)
print("uppercase =",upper)

lowercase = 13
uppercase = 8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [277]:
result = []
for num in range(1000,3001):
  num_str = str(num)
  if int(num_str[0]) % 2 == 0 and int(num_str[1]) % 2 == 0 and int(num_str[2]) % 2 == 0  and int(num_str[3]) % 2 == 0:
    result.append(num)

result_str = []
for num in result:
    result_str.append(str(num))

print(', '.join(result_str))

2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
input = str(12)
sum=0
total=0
input2 = int(input)
if input2<0 or input2 > 9:
  print("Eror input less than 0 or More than 1 digit number")
else:
  for i in range(1,5):
    sum = input*i
    sum = int(sum)
    total = total+sum
  print(total,"(",(input*1),"+",(input*2),"+",(input*3),"+",(input*4),")")

Eror input less than 0

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [302]:
input = "MMMDCCXXIV"

total = 0
prev_value = 0

for num in input:
    if num == 'I':
        value = 1
    elif num == 'V':
        value = 5
    elif num == 'X':
        value = 10
    elif num == 'L':
        value = 50
    elif num == 'C':
        value = 100
    elif num == 'D':
        value = 500
    elif num == 'M':
        value = 1000

    if value > prev_value:
        total += value-(prev_value*2)
    else:
        total += value

    prev_value = value

print(total)

3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)