<a href="https://colab.research.google.com/github/Nattanon5041/Pythonlab/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.1 2520 คือ ตัวเลขที่น้อยที่สุด ที่สามารถหารด้วยตัวเลขทุกตัวตั้งแต่ 1-10 จงหาจำนวนเต็มบวกที่น้อยที่สุดที่หารด้วยตัวเลขทุกตัวตั้งแต่ 1-20

15 = 360360

20 = 232792560

ปล. ห้าม import math

In [ ]:
input = 15
input_d = input
count = 0
for i in range(input): #โอกาสที่เจอแน่ๆ
  if i > 0:
    input = input*i

for j in range(1,input): #1-inputที่คูณทุกตัว
  for k in range(1,input_d): #วน 1-10 หรือ 1-20 ตาม input
    if j % k == 0: #เช็คหารตั้งแต่ 1-10 หรือ 1-20 ตาม input
      count += 1
      if count == input_d:#ถ้าหารครบแล้ว
        print(j-1)
        break
    else:
      count = 0#ถ้าตัวใดตัวนึงหารไม่ได้
      break
  if count == input_d:#ต้องออกลูปนี้ด้วย
    break

360360

4.2 จำนวนเฉพาะ (Prime Number) คือตัวเลขที่มีแต่ 1 กับตัวมันเองที่หารลงตัว โดยจำนวนเฉพาะ 6 ตัวแรกคือ 2, 3, 5, 7, 11, 13 โดยจำนวนเฉพาะตัวที่ 6 คือ 13 จงหาจำนวนเฉพาะตัวที่ 101

=> 547

In [ ]:
input = 101
count = 0
for i in range(1,600):
  if i > 1:
    for j in range(2,i): #ตั้งแต่ 2 จนถึง i-1
      if (i % j) == 0:
        break
    else:
      count += 1
      if count == input:
        print(i)

547

1.	กำหนดให้มี List หนึ่งประกอบด้วยตัวเลขจำนวนหนึ่ง และ ให้รับตัวเลขจำนวน 1 จำนวน จากนั้นให้หาว่าใน List มีตัวเลข 2 จำนวนใดที่บวกกันเท่ากับตัวเลขที่รับมา ให้แสดงคำตอบเป็น List เช่น Output: [0,1] โดยอาจมีมากกว่า 1 คำตอบ

ตัวอย่าง list : [2, 7, 11, 15]

Input : 9

Output : 2 + 7 = 9 (ถ้าไม่มีให้บอก None)

In [ ]:
input = 9
list_defalt = [2, 7, 11, 15]
c = 0
for i in list_defalt:
  for j in list_defalt:
    if i+j == input:
      c += 1
      print(i,"+",j,"=",input)
    elif i == list_defalt[-1] and j == list_defalt[-1] and c != 2:
      print("None")

2 + 7 = 9
7 + 2 = 9

2.	ให้เขียนโปรแกรมรับข้อมูล 1 บรรทัด ประกอบด้วยตัวเลข 1 หลัก จำนวนไม่เกิน 10 ตัว คั่นด้วยช่องว่าง จากนั้นให้นำตัวเลขที่รับเข้ามาเรียงกัน และหาลำดับการเรียงที่ทำให้มีค่าน้อยที่สุด โดยต้องไม่ขึ้นต้นด้วย 0

Input : 9 4 6 2  

คำตอบ 2469

Input : 3 0 8 1 3 3

คำตอบ : 103338

In [ ]:
input = "3 0 8 1 3 3"
input2 = []
input2_list = []
po = ""
input = ''.join(input.replace(" ", ""))

for i in input:
  if i == "0":
    continue
  else:
    input2.append(i)
    if po == "0":
      po = ""
      input2.append("0")

input2 = ''.join(sorted(input2))

print(input,input2,po)

##เหลือยัด 0 กลับที่เดิม

308133 13338

3.	จากตัวเลขต่อไปนี้ ตัวเลขติดกัน 4 ตัวที่เมื่อนำมาคูณกันแล้วมีค่ามากที่สุดคือ 9 × 9 × 8 × 9 = 5832

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

จงหาเลขติดกัน 8 ตัวที่เมื่อนำมาคูณกันแล้วมีค่ามากที่สุด และเป็นเลขอะไร ผลคูณเท่ากับเท่าไร

The maximum product is: 7838208
The digits are: 88399879

In [44]:
#ต้องเก็บค่า 4 ตัวโดยใช้ค่าก่อนแรกสุด ค่ารองลงมาเรื่อยๆ
input = "7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450"

first = second = third = fourth = fifth = sixth = seventh = eighth = 0
cal = 0
max = 0

for i in input:
  i = int(i)
  eighth = seventh
  seventh = sixth
  sixth = fifth
  fifth = fourth
  fourth = third
  third = second
  second = first
  first = i
  cal = first*second*third*fourth*fifth*sixth*seventh*eighth
  if cal > max:
    max = cal
print("The maximum product is: ",max," ","The digits are: ",eighth,seventh,sixth,fifth,fourth,third,second,first,sep="")

The maximum product is: 7838208 The digits are: 52963450

4.	ตัวเลข palindrome คือตัวเลขที่อ่านได้ทั้ง 2 ทาง แล้วมีค่าเท่ากัน เช่น 9009 โดย 9009 คือ palindrome ที่เกิดจากการคูณของตัวเลข 2 หลักที่มากที่สุด คือ 91x99 จงหา palindrome ที่มากที่สุดของตัวเลข 3 หลัก

The largest palindrome product of 3-digit numbers is: 906609

In [55]:
#ผลคูณมากที่สุดแล้วเลขได้เป็น palindrome
#เช็ค palindrome
first = 0
second = 0
first_txt = 0
second_txt = 0
cal = 0
max = 0
for i in range(20):
  second = first
  first = i
  cal = first*second
  cal = str(cal)
  for j in cal:
    second_txt = first_txt
    first_txt = j
    print(first,second,cal,first_txt,second_txt)
  # if cal > max:
  #   max = cal

  # print(second,first,max)

0 0 0 0 0
1 0 0 0 0
2 1 2 2 0
3 2 6 6 2
4 3 12 1 6
4 3 12 2 1
5 4 20 2 2
5 4 20 0 2
6 5 30 3 0
6 5 30 0 3
7 6 42 4 0
7 6 42 2 4
8 7 56 5 2
8 7 56 6 5
9 8 72 7 6
9 8 72 2 7
10 9 90 9 2
10 9 90 0 9
11 10 110 1 0
11 10 110 1 1
11 10 110 0 1
12 11 132 1 0
12 11 132 3 1
12 11 132 2 3
13 12 156 1 2
13 12 156 5 1
13 12 156 6 5
14 13 182 1 6
14 13 182 8 1
14 13 182 2 8
15 14 210 2 2
15 14 210 1 2
15 14 210 0 1
16 15 240 2 0
16 15 240 4 2
16 15 240 0 4
17 16 272 2 0
17 16 272 7 2
17 16 272 2 7
18 17 306 3 2
18 17 306 0 3
18 17 306 6 0
19 18 342 3 6
19 18 342 4 3
19 18 342 2 4

5.	กำหนดให้ string มีเพียงสัญลักษณ์ '(', ')', '{', '}', '[' และ ']' ให้ตรวจสอบว่า String ถูกต้อง โดย เมื่อมีวงเล็บเปิด จะต้องมีวงเล็บปิดที่เป็นชนิดเดียวกัน จำนวนเท่ากันที่เป็นคู่ของมัน

```
Input: s = "()"
Output: true
Input: s = "()[]{}"
Output: true
Input: s = "[()]{}"
Output: true
Input: s = "(]"
Output: false
```

In [94]:
input = "([])"
n2 = ""
n1 = ""
x = len(input)

# for i in s:
#   n2 = n1
#   n1 = i
#   if n1 == ")" and n2 == "(":
#     print("true()")
#   elif n1 == ")" and n2 == "]" or n1 == ")" and n2 == "}":
#     print("true()")
#   if n1 == "]" and n2 == "[":
#     print("true[]")
#   elif n1 == "]" and n2 == ")" or n1 == "]" and n2 == "}":
#     print("true[]")
#   if n1 == "}" and n2 == "{":
#     print("true{}")
#   elif n1 == "}" and n2 == ")" or n1 == "}" and n2 == "]":
#     print("true{}")

print(x)

TypeError: 'int' object is not callable

6.	กำหนดให้รับข้อมูล Integer (เป็นบวกหรือลบก็ได้) จากนั้นให้แสดงผลลัพธ์ที่ reverse ตัวเลขตามตัวอย่าง

```
Input: x = 123
Output: 321
Input: x = -123
Output: -321
Input: x = 120
Output: 21
```

In [ ]:
input_str = "-321"
check = ["0","1","2","3","4","5","6","7","8","9","-"]
for k in input_str:
  if k not in check:
    print("Error")
    break
else:
  input_int = int(input_str)
  list_input = list(input_str)
  input_len = len(input_str)

  if input_str == "0" or input_str == "-0":
    print("0")
  else:
    if input == 0 or type(input_int) != int:
      print("Error")
    else:
      b = ""
      a = ""
      k = 0
      list_new = []
      str1 = ""
      for i in list_input:
        k += 1
        if i == "-":
          a = "-"
          continue
        if i == "0" and i == list_input[-1] and k == input_len:
          continue
        else:
          list_new.append(i)
      if a == "-":
        list_new.append(a)
      list_new = list_new[::-1]

      if list_new[-1] == "0":
        list_new[-1] = b

      for text in list_new:
        str1 += text
      print(str1)

-123

7.	เขียนโปรแกรมเพื่อแสดงปิรามิดบนจอภาพ โดยแสดงเป็นรูปสี่เหลี่ยม ตัวเลขเริ่มจาก 0  และเพิ่มค่าตามลําดับจํานวนขั้น จาก 0 ถึง N (รับค่า N จากคีย์บอร์ด) ค่าของ N อยู่ระหว่าง 0-9 ดังตัวอย่าง


```
									         0000000
							    00000		0111110
					000		 01110		0122210
			0		010		01210		0123210
					000		 01110		0122210
							    00000		0111110
									         0000000

			n=0		n=1		n=2		n=3

```

8.	เขียนโปรแกรมเพื่อแสดงปิรามิดบนจอภาพ โดยแสดงเป็นรูปสี่เหลี่ยม ตัวเลขเริ่มจาก 0  และเพิ่มค่าตามลําดับจํานวนขั้น จาก 0 ถึง N (รับค่า N จากคีย์บอร์ด) กําหนดให้จุดศูนย์กลางของรูปสี่เหลี่ยมอยู่ที่แถว 13 คอลัมน์ 40 ของจอภาพค่าของ N อยู่ระหว่าง 0-9 ดังตัวอย่าง



```
									            0
							      0		    010
					  0		  010		  01210
			0		010		01210		0123210
					  0		  010		  01210
							      0		    010
									            0

			n=0		n=1		n=2		n=3

```

9.	ให้เขียนโปรแกรมสร้างรูปสามเหลี่ยมที่วางซ้อนกัน 3 รูป โดยแต่ละรูปสร้างมาจากเครื่องหมาย "*" โดยกําหนดให้รับตัวเลขระดับของสามเหลี่ยมจากคีย์บอร์ด จากตัวอย่างข้างล่างนี้เป็นรูปสามเหลี่ยมระดับที่ 3 และ 4



```
              *
		     ***
		    *****
		   *     *
	      ***   ***
	     ***** *****

  		    *
	  	   ***
		    *****
		   *******
	      *       *
	     ***     ***
	    *****   *****
	   ******* *******

```